
a {
    text-decoration: none;
}
header {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.view-highscore{
    display: flex;
    float: left;
}

.time-display {
    display: flex;
    float: right;
}

.quiz-panel {
    margin: 10px;
}

button, .btn{
    background-color: purple;
    color: white;
}

button:active, button:hover, .btn:hover{
    background-color: pink;
    cursor: pointer;
}

.intro-panel.deactivated,
.quiz-panel, .result-panel{
    opacity: 0;
    pointer-events: none;
}

.quiz-panel.activeQuiz,
.result-panel.activeResult {
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
}


section .answer-container .answer{
    cursor: pointer;
    transition: all 0.3s ease;
}
section .answer-container .answers.disabled {
    pointer-events: none;
}